@charset "UTF-8";
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Encode Sans SemiExpanded";
  src: url("../fonts/EncodeSansSemiExpanded-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.ttf");
}
/* colores */
.full-screen {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important;
}
.full-screen.full_screen_down {
  top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: clamp(200px, 95%, 1150px) !important;
  margin: auto;
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  padding: 0;
  /* color: white; */
  font-family: "Comfortaa", sans-serif;
}

body {
  /* background: #081f3d; */
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans SemiExpanded", serif;
}
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: "Encode Sans SemiExpanded", serif;
}

input {
  outline: none;
  border: NONE;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

fieldset {
  border: none;
}

.screenShow {
  position: fixed;
  width: 100%;
  background: #278ea5;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1039 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}
.screenShow.full_screen_down {
  top: 0;
}
.screenShow.hidden_screen_loader {
  transition: 0.6s ease;
  transition-delay: 0.1s;
  transform: translateX(-100%);
}
.screenShow.toUp {
  animation: toUp 0.5s ease forwards;
}

.screenShow .shadowsLoader span {
  color: hsl(191, 80%, 33%);
  animation: moveShadows 1.6s linear infinite;
}



.d-none {
  display: none;
}

.gradient_blue {
  background: rgb(8, 31, 61);
  background: linear-gradient(72deg, rgb(8, 31, 61) 41%, rgb(39, 142, 165) 100%);
}

.btn_submit {
  background: transparent;
  padding: 12px;
  display: block;
  transition: all 0.2s ease;
  width: 100%;
  background-image: linear-gradient(to right, #278ea5, #21e6c1 50%);
  color: #081f3d;
  background-size: 200% 100%;
  background-position: -100%;
  font-weight: bold;
  z-index: 10;
  border-radius: 3px;
}
.btn_submit:hover {
  cursor: pointer;
  color: white;
  background-position: 0;
}
.btn_submit:hover .parent_btn_submit::after {
  left: 0;
}

.parent_btn_submit.clicked:before {
  content: "Procesando...";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #081f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21e6c1;
  font-weight: bold;
}
.parent_btn_submit.clicked::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #21e6c1;
  height: 5px;
  width: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #21e6c1;
  animation: rodearBtn 2s ease-out infinite;
}
@keyframes rodearBtn {
  0% {
    left: 0;
  }
  25% {
    left: calc(100% - 20px);
    bottom: 0;
  }
}


.history_arrows:hover {
  cursor: pointer;
  color: #278ea5;
}
.history_arrows.disabled {
  opacity: 0.3;
}
.history_arrows.disabled:hover {
  color: inherit;
  cursor: default;
}
.history_arrows.future {
  margin-left: 4px;
}





.bg-1 {
  background-color: #081f3d !important;
  color: white;
}

.bg-2 {
  background-color: #1f4287 !important;
  color: white !important;
}

.bg-3 {
  background-color: #278ea5 !important;
}

.bg-4 {
  background-color: #21e6c1 !important;
}

.bg-red {
  background-color: rgb(139, 0, 0);
}

.color-1 {
  color: #081f3d;
}

.color-2 {
  color: #1f4287;
}

.color-3 {
  color: #278ea5;
}

.color-4 {
  color: #21e6c1;
}

.color-red {
  color: rgb(139, 0, 0);
}
header {
  margin-block: 50px;
}
.select_area_parent {
  /* margin-top: 14px; */

}
.select_area_parent select{
  padding: 8px;
  /* margin-left: 5px; */
  border-radius: 4px;
  border: 1px solid #bac3c5;
  font-size: 16px;
  color: #081f3d;
  font-weight: 500;
  display: block;
}

.add_btn {
  background: transparent;
  border: 2px solid #278ea5;
  border-radius: 500px;
  color: #278ea5;
  padding: 2px 10px;
  transition: all 0.2s ease;
}
.add_btn:hover {
  cursor: pointer;
  background-color: #081f3d;
  color: #21e6c1;
}
.intro_table {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 15px 1px;
  align-items: center;
  background: white;
  top: 0;
  left: 0;
  z-index: 200 !important;
  padding: 20px;
}
.intro_table #input_n_classes {
  width: 50px !important;
  min-width: 50px !important;
  border: 1px solid #bac3c5;
  padding: 10px 4px;
  border-radius: 4px;
  font-weight: bold;
}
.intro_table .history_arrows:hover {
  cursor: pointer;
  color: #278ea5;
}
.intro_table .history_arrows.disabled {
  opacity: 0.3;
}
.intro_table .history_arrows.disabled:hover {
  color: inherit;
  cursor: default;
}

label:hover {
  cursor: pointer;
}

.asist_table {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.table_container {
  max-width: 100%;
  margin: auto;
  max-height: 100vh;
  overflow: auto;
  margin-bottom: 50px;
  border: 1px solid #bac3c5;
  border-radius: 6px;
}
.tr_class_numbers{
  font-size: 14px;
}
.asist_table tr:hover:not(.tr_class_numbers) {
  background-color: #278ea515;
}
.asist_table tr:hover td:first-child {
  background-color: #1f4287;
  color: white;
  
}
.asist_table tbody {
  overflow: auto;
}
.asist_table thead {
  position: sticky;
  z-index: 200 !important;
  background: white;
  top: 97.4px;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.075); */

}
.th_each_colunm { 
  position: relative;
}
.th_each_colunm label {
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* background: red; */
  height: 100%;
}
.asist_table td,
.asist_table th {
  overflow: hidden;
  height: 50px;
  outline: 1px solid rgb(230, 230, 230);
}
.td_student_name:focus-within {
  background: #1f4287 !important;
}
input.student_name_input {
  font-size: 15px;
  margin-left: 7px;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 5px 4px;
}


.asist_table th:not(.th_students, .th_total), .asist_table .each_cell {
  min-width: 55px !important;
  max-width: 56px !important;
  word-wrap: break-word;
}
.each_cell {
  min-width: 55px;
  max-width: 56px !important;
  word-wrap: break-word;
  position: relative;
}
.each_cell.attended::before {
  transition: all 0.2s ease;
  content: "✓";
  text-align: center;
  line-height: 3;
  color: #21e6c1;
  position: absolute;
  inset: 0;
  background: #081f3d;
}
.each_cell:hover {
  cursor: pointer;
  background: #278ea536;
}


.th_students,
tr td:first-child {
  min-width: 215px;
  word-wrap: break-word;
  position: sticky;
  background: white;
  border: none !important;
  outline: 1px solid rgb(221, 221, 221);
  z-index: 70 !important;
  left: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 8px;
}
.delete_student_btn {
  color: #278ea5;
  font-size: 17px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

  font-weight: bold;
  display: inline-block;
  height: 21px !important;
  width: 30px;  
  text-align: center;
  padding-left: 3px;
  padding-bottom: 5px;
  /* line-height: -1.6; */
  background: #bac3c5ab;
}
.delete_student_btn:hover {
  background-color: rgb(114, 0, 0);
  color: white;
}
tr td:first-child:not(.th_students) {
  background-color: #278ea5;
  color: white;
}

.th_students {
  z-index: 100 !important;
  text-align-last: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#create_student_btn {
  padding: 3px 20px;
  width: max-content;
  font-size: 20px;
}

.th_total {
  min-width: 90px;
  text-align: center;
}
tbody tr td:last-child {
  text-align: center;
}
.min75 {
  color: #21e6c1;
  font-weight: bold;
  background: #081f3d !important;
}/*# sourceMappingURL=asistencia.css.map */